*.py[cod]
.DS_Store

*.der
*.p12
*.pem
bower_components
client_secrets.json
env
htmlcov
jetway.yaml
lib
node_modules

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
