<div class="container container-md">
  <div class="card">
    <h1>Create site</h1>
    <form ng-submit="createProject(project)">

      <div class="project-name">
        <div class="left">
          <label>Owner</label>
          <select class="form-control" ng-model="project.owner.nickname" ng-options="owner for owner in owners">
          </select>
        </div>
        <div class="left sep">/</div>
        <div class="left">
          <label>Site name</label>
          <input ng-model="project.nickname" class="form-control" autofocus required>
        </div>
      </div>

      <div class="form-group project-details">
        <label>Description</label>
        <textarea ng-model="project.description" class="form-control"></textarea required>
      </div>
      <div>
        <button type="submit" class="btn btn-success">Create site</button>
      </div>

    </form>
  </div>
</div>
