<section class="card">
  <form ng-submit="updateMe(me)">
    <div class="form-group">
      <label for="nickname">Username</label>
      <input type="text" class="form-control" id="name" ng-model="me.nickname">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="name" ng-model="me.email">
    </div>
    <div class="form-group">
      <label for="name">Company</label>
      <input type="text" class="form-control" id="name" ng-model="me.company">
    </div>
    <div class="form-group">
      <label for="name">Location</label>
      <input type="text" class="form-control" id="name" ng-model="me.location">
    </div>
    <div class="form-group">
      <label for="name">Website</label>
      <input type="text" class="form-control" id="name" ng-model="me.website">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <div ng-show="loading" class="badge info">Saving...</div>
  </form>
</section>
