@import '_global.scss';

ul.navbar-form {
  padding-right: 0;
}

body,
h1,
h2,
h3,
p {
  font-family: 'RobotoDraft', 'Roboto', arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 26px;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

table.table-margin {
  margin-top: 20px;
}

a {
  color: #097be8;
}

img.avatar {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin: 0 20px 0 0;
}

img.avatar-sm {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

img.avatar-xs {
  margin-right: 0;
  height: 20px;
  width: 20px;
}

.avatar.avatar-xs {
  margin: 0 5px 0 0;
  height: 15px;
  width: 15px;
}

.meta {
  color: #666;
  font-size: 12px;
}

.filesets b {
  font-size: 16px;
  margin-bottom: 5px;
}

.filesets {
}

.project-name {
  margin-bottom: 20px;
  clear: both;

  &:after {
    clear: both;
    display: table;
    content: '';
  }
  
  .left {
    float: left;
  }

  .sep {
    padding: 0 15px;
    margin-top: 25px;
    font-size: 26px;
  }
}

.project-details {
  clear: both;
}
