<!DOCTYPE html>
<meta charset="utf-8">
<base href="/">
<title>{{config.options.title}}</title>
<link rel="stylesheet" href="/_jetway/{{version}}/static/css/main.min.css">
<link href="//fonts.googleapis.com/css?family=Roboto:700,500,400,300,100&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,200,100&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
<script>
  var __config = {ver: '{{version}}'};
</script>
<script src="/_jetway/{{version}}/static/js/main.min.js"></script>
<body>
  <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        {% if me %}
          <li>
            <a ui-sref="owner.projects({'owner': me.nickname})">
              <img class="avatar avatar-xs" src="{{me.avatar_url}}">
              {{me.nickname}}
            </a>
          <li><a href="{{sign_out_url}}" target="_self">Sign out</a>
        {% else %}
          <li><a href="{{sign_in_url}}">Sign in</a>
        {% endif %}
      </ul>
      <form class="navbar-right navbar-form">
        <a ui-sref="new()" class="btn btn-default">New</a>
      </form>
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{config.options.title}}</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div ui-view></div>
  </div>
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(document, ['jetway']);
    });
  </script>
