<!DOCTYPE html>
<meta charset="utf-8">
<base href="/">
<title>{{config.options.title}}</title>
<link rel="stylesheet" href="/_jetway/{{version}}/static/css/main.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=RobotoDraft:100,300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:700,500,400,300,100&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,200,100&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
<script>
  var __config = {ver: '{{version}}'};
</script>
<script src="/_jetway/{{version}}/static/js/main.min.js"></script>
<body>
  <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
    <div class="container">
      <ul class="nav navbar-nav navbar-right navbar-form">
        {% if me %}
        <li>
          <div class="btn-group" dropdown>
            <div type="button" class="btn dropdown-toggle" dropdown-toggle>
              New <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="new()">New site</a></li>
              <li><a ui-sref="orgs.new()">New organization</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group" dropdown>
            <div class="btn dropdown-toggle" dropdown-toggle>
              <img class="avatar avatar-xs" src="{{me.avatar_url}}">
              <span class="caret"></span>
            </div>
            {% raw %}
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">{{me.nickname}}</li>
              <li role="separator" class="divider"></li>
              <li><a ui-sref="owner.projects({'owner': me.nickname})">Your sites</a>
              <li ng-repeat="org in orgs"><a ui-sref="owner.projects({'owner': org.nickname})">{{org.nickname}}</a>
              <li role="separator" class="divider"></li>
              <li><a ui-sref="settings.index()">Settings</a>
              <li><a href="{{sign_out_url}}" target="_self">Sign out</a>
            </ul>
            {% endraw %}
          </div>
        </li>
        {% else %}
          <li><a href="{{sign_in_url}}">Sign in</a>
        {% endif %}
      </ul>
      <div class="navbar-header">
        {% if config.options.logo %}
          <a class="navbar-brand" href="/">
            <img alt="{{config.options.title}}" src="/_jetway/{{version}}/config/{{config.options.logo}}">
          </a>
        {% endif %}
        <a class="navbar-brand" href="/">{{config.options.title}}</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div ui-view></div>
  </div>
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(document, ['jetway']);
    });
  </script>
