options:
  title: Jetway

app:

  # Replace this with the filename of the client secrets key.
  # client_secrets_file: "client_secret_1234567890-XXXX.apps.googleusercontent.com.json"

  # Replace this with the filename of the service account key.
  # service_account_key_file: "example-123456789.json"

urls:

  # Where preview/staging builds are served.
  hostname:
    prod: jetway.appspot.com
