<table class="table filesets" ng-if="filesets.length">
  <tr ng-repeat="fileset in filesets | orderBy:'modified':true">
    <td>
      <a href="{{fileset.ident_url}}">
        <span ng-if="fileset.commit">
          {{fileset.commit.branch}} {{fileset.commit.sha|limitTo:6}}
        </span>
        <span ng-if="!fileset.commit">
          {{fileset.ident}}
        </span>
      </a>
    </td>
    <td>
      <span ng-if="fileset.name">
        <a href="{{fileset.url}}">{{fileset.name}}</a>
      </span>
    </td>
    <td>
      {{(fileset.commit.message || "No commit message.")|limitTo:100}}
    </td>
    <td>
      <span title="by {{fileset.modified_by}}">{{fileset.modified|date:"medium"}}</span>
    </td>
  </tr>
</table>
<div ng-if="!filesets.length" class="empty">
  <p>No builds yet.</p>
</div>
