<h1>{{project.nickname}}</h1>
<div ng-if="project.description">{{project.description}}</div>
<div class="row">
  <div class="col-md-8">
    <h2>Previews</h2>
    <table class="table table-margin filesets">
      <tr ng-repeat="fileset in filesets">
        <td>
          <small>{{fileset.commit_short}}</small>
        <td>
          <a href="{{fileset.url}}">{{fileset.name || fileset.commit_short}}</a>
        <td>
          <div class="meta">
            <span title="by {{fileset.modified_by}}">{{fileset.modified|date:"medium"}}</span>
          </div>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Team</h2>
    <table class="table table-margin">
      <tr ng-repeat="membership in team.memberships">
        <td>
          <a ui-sref="owner.projects({'owner': membership.user.nickname})">
            <img ng-src="{{membership.user.avatar_url}}" class="avatar avatar-xs">
            {{membership.user.nickname}}
          </a>
        <td>
          <form ng-submit="updateMembership(membership)">
            <select ng-model="membership.role" ng-change="updateMembership(membership)" required>
              <option value="READ_ONLY">Read only
              <option value="WRITE_FULL">Write
              <option value="ADMIN">Admin
            </select>
          </form>
        <td>
          <button class="btn btn-default btn-xs" ng-click="deleteMembership(membership)">x</button>
    </table>
    <form ng-submit="createMembership(membership)" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="membership.user.email" placeholder="Add by email" required>
      </div>
      <div class="form-group">
        <select class="form-control" required>
          <option>
          <option value="READ_ONLY">Read only
          <option value="WRITE_FULL">Write
          <option value="ADMIN">Admin
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Add</button>
      </div>
    </form>
    <h2>Settings</h2>
    <div ng-click="deleteProject(project)" class="btn btn-danger btn-sm">Delete project</div>
  </div>
</div>

